<div class="wrapper" fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between" fxLayoutGap="10px">
        <div fxLayout="column" fxLayoutAlign="stretch" fxFlex="35%" fxLayoutGap="10px">
            <mat-card *ngIf='sensor' fxFlex="50%">
                <mat-card-header>
                    <mat-card-title class="primary-color">{{sensor.Name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <p class="sensor-description">{{sensor.FullDescription}}</p>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card *ngIf='sensor' fxFlex="50%">
                <mat-card-header>
                    <mat-card-title class="primary-color">Calidad de Aire</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-list fxFlex>
                        <mat-list-item *ngFor="let aq of airQualityValues">
                            <div fxLayout="row" fxLayoutAlign="space-between" fxFlexFill fxLayoutGap="10px">
                                <div fxLayout="row" fxFlex="30%" fxLayoutAlign="center">
                                    <span class="aq-value text-center" fxFlex="33%">{{aq.MinValue}}</span>
                                    <span class="text-center" fxFlex="33%">-</span>
                                    <span class="aq-value text-center" fxFlex="33%">{{aq.MaxValue ? aq.MaxValue : "∞"}}</span>
                                </div>
                                <span class="aq-name text-center" [style.color]="aq.PrimaryColor" fxFlex="70%">{{aq.Name}}</span>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
        <mat-card fxFlex="65%" fxFlex.lt-md="100%" *ngIf="chart">
            <mat-card-header>
                <mat-card-title class="primary-color">Promedio Diario de Lecturas</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div fxFlex [chart]="chart"></div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxLayout="row">
        <mat-card>
            <mat-card-header>
                <mat-card-title class="primary-color">Lecturas de los últimos 7 días</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <table fxFlex *ngIf="sensorReadings" mat-table [dataSource]="sensorReadings">
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef>Fecha</th>
                        <td mat-cell *matCellDef="let element">
                            {{parseDate(element.CreatedDate) | amLocal | amDateFormat: 'DD/MM/YYYY HH:mm'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="air-quality">
                        <th mat-header-cell *matHeaderCellDef>Calidad de Aire</th>
                        <td mat-cell *matCellDef="let element">{{element.AirQuality.Name}}</td>
                    </ng-container>
                    <ng-container matColumnDef="sensor-reading">
                        <th mat-header-cell *matHeaderCellDef>Valor de Lectura</th>
                        <td mat-cell *matCellDef="let element">{{element.GasPpm}} ppm</td>
                    </ng-container>
                    <ng-container matColumnDef="sensor-reading-bar">
                        <th mat-header-cell *matHeaderCellDef>Porcentaje Relativo</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-progress-bar
                                [color]="element.AirQuality.PrimaryColor"
                                [value]="element.GasPercentage * 100">
                            </mat-progress-bar>
                            <span>{{math.min((element.GasPercentage * 100), 100).toFixed(0)}}%</span>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>
