.wrapper {
    padding: 20px;
}

mat-card {
    width: 100%;
}

mat-progress-bar {
    display: block;
    margin: 10px 0;
}

mat-card-actions { 
    display: inline-block; align-self: flex-end; 
}

.ppm-value {
    text-align: right;
    font-weight: bold;
}

.air-quality-name {
    font-weight: bold;
}

.sensor-description {
    height: 7em;
    line-height: 1em;
    overflow: hidden;
}

.aq-value {
    font-weight: bold;
}

.aq-name {
    font-weight: bold;
    overflow: hidden;
}