<div class="wrapper" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutAlign="stretch">
    <mat-card fxFlex="65%" fxFlex.lt-md="100%">
        <mat-card-header>
            <mat-card-title class="primary-color">Acerca del Proyecto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="text-wall">
                En la industria de producción de utilidades, donde ciertos gases son emitidos en el proceso, 
                es importante tener un sistema de monitorización de gases en funcionamiento. La necesidad 
                crece si el ambiente está rodeado de personas que no tienen relación con el proceso, que 
                simplemente se encuentran en el área por otros motivos y que no poseen el equipo de 
                protección adecuado. 
            </p>
            <p class="text-wall">
                En este sentido, el riesgo potencial de una filtración de altos niveles de gases tóxicos, 
                inflamables o no, debe ser controlado. Lo antes mencionado es el objetivo del sistema de 
                monitorización de gases.
            </p>
                Este trabajo se titula: Sistema de Monitorización de Gases Tóxicos Emitidos Durante el 
                Proceso de Soldadura en el Taller del Instituto Profesional y Técnico de Veraguas; se creó 
                el sistema que cumple con este objetivo al emitir alertas cuando ocurran altas concentraciones 
                de gases tóxicos, expedidos en diferentes actividades en el taller.
            <p class="text-wall">
                El sistema consta de una placa autómata o procesador de Arduino Mega, la cual es el cerebro 
                para la conexión e interacción de los sensores necesarios para la captación de información 
                y para recaudar datos. Arduino es una tecnología que tiene una rápida curva de entrada con 
                básicos conocimientos de programación y electrónica, que permite desarrollar proyectos en el 
                ámbito de las Smart Cities, el Internet de las Cosas (IoT), dispositivos wearables, salud, 
                ocio, educación y robótica. El hardware de Arduino consiste en una placa con un 
                microcontrolador generalmente Atmel AVR, puertos de comunicación y puertos de entrada/salida.
            </p>
                La aplicación web se desarrolló utilizando el lenguaje de programación TypeScript, consumiendo 
                la base de datos del sistema (MySQL).
            <p class="text-wall">
                La plataforma móvil se desarrolló para un dispositivo Android con un sistema operativo de 
                Android 5.0 (Lollipop) o superior. Para ello, se usó el entorno de desarrollo nativo Android 
                Studio, utilizando el lenguaje Kotlin para las clases de funcionalidad y XML para las vistas y 
                otras definiciones (James Floyd Kelly, n.d.).
            </p>
                Cuando ocurre una alta concentración de gases tóxicos, captados por los sensores del sistema y 
                procesados por una implementación de la lógica difusa para la toma de decisiones, se muestra 
                una alerta visual y sonora en el taller y, a la vez, se envía una notificación a la aplicación 
                móvil, dando cabida a tomar medidas preventivas para cuidar la salud de todos los implicados.
            <p class="text-wall">
                Finalmente, la integración entre las plataformas: Arduino, aplicación web y Android, se realizó 
                mediante una interfaz de programación de aplicaciones (API), definida como el conjunto de 
                constantes, funciones y protocolos que permiten programar aplicaciones.
            </p>
        </mat-card-content>
    </mat-card>
    <div fxLayout="column" fxFlex="35%" fxLayoutAlign="stretch" fxLayoutGap="10px">
        <mat-card fxFlex fxFlex.lt-md="100%">
            <mat-card-header>
                <mat-card-title class="primary-color">Desarrolladores</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
                    <div fxLayout="column" fxFlex="50%" fxLayoutAlign="space-between" fxLayoutGap="10px">
                        <img class="person-avatar" src="../../../assets/profile/lucas_cabrales.jpg"/>
                        <span class="person-name">Lucas Cabrales</span>
                        <div fxLayout="row" fxFlex fxLayoutAlign="center">
                            <a href="mailto:lucas_cabrales@hotmail.com" target="_top">
                                <mat-icon aria-hidden="false" color="primary" aria-label="E-mail">email</mat-icon>
                            </a>
                        </div>
                    </div>
                    <div fxLayout="column" fxFlex="50%" fxLayoutAlign="space-between" fxLayoutGap="10px">
                        <img class="person-avatar" src="../../../assets/profile/default.jpg"/>
                        <span class="person-name">Eric Pérez</span>
                        <div fxLayout="row" fxFlex fxLayoutAlign="center">
                            <a href="mailto:eric.enrique.perez24@gmail.com" target="_top">
                                <mat-icon aria-hidden="false" color="primary" aria-label="E-mail">email</mat-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex fxFlex.lt-md="100%">
            <mat-card-header>
                <mat-card-title class="primary-color">Asesores</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="row" fxFlexFill fxLayoutAlign="space-between">
                    <div fxLayout="column" fxFlex="50%" fxLayoutAlign="space-between" fxLayoutGap="10px">
                        <img class="person-avatar" src="../../../assets/profile/default.jpg"/>
                        <span class="person-name">María Vélez</span>
                        <div fxLayout="row" fxFlex fxLayoutAlign="center">
                            <a href="mailto:maria.velez@utp.ac.pa" target="_top">
                                <mat-icon aria-hidden="false" color="primary" aria-label="E-mail">email</mat-icon>
                            </a>
                        </div>
                    </div>
                    <div fxLayout="column" fxFlex="50%" fxLayoutAlign="space-between" fxLayoutGap="10px">
                        <img class="person-avatar" src="../../../assets/profile/default.jpg"/>
                        <span class="person-name">Cristian Pinzón</span>
                        <div fxLayout="row" fxFlex fxLayoutAlign="center">
                            <a href="mailto:cristian.pinzon@utp.ac.pa" target="_top">
                                <mat-icon aria-hidden="false" color="primary" aria-label="E-mail">email</mat-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
    