<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Iniciar Sesión</mat-card-title>
      </mat-card-header>
  
      <form class="form">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input [(ngModel)]="username" name="username" matInput placeholder="Usuario">
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <input [(ngModel)]="password" name="password" matInput placeholder="Contraseña" type='password'>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" (click)="performLogin()">Entrar</button>
      </form>
    </mat-card>
  
  </div>